        <div id="main">
            <!-- Main first s-->
            <article id="me" class="panel">
                <header style="color: #000000">
                    <h1><%- theme.MainFirst.name  %></h1>
                    <p><%- theme.MainFirst.description  %></p>
                </header>
                <span class="arrow icon fa-chevron-right"><span></span></span>
                <div class="jumplink pic videoBox">
                    <video muted id="girlVideo" class="girlVideo" src="http://t1.aixinxi.net/o_1d5900r4u1m4i1sdk1i0114u81v23a.mp4" autoplay="autoplay" controls="controls"></video>
                </div>
                <a href="<%- theme.MainFirst.goto_ulr  %>" class="jumplink pic" > 
                    <!-- <span class="arrow icon fa-chevron-right"><span></span></span> -->
                    <img id="girl" class="girl" src="<%- theme.MainFirst.pic_url  %>" alt=""/>
                </a>

                 
            </article>
            <!-- Main first e-->
        </div>